<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>筛选兼职</title>
    <include file="blocks/import"/>
</head>
<body>
<div class="container-fluid">
    <div class="middle row">
        <div class="gtlyout bg-lightgray" style="padding:0">

            <!--二级分类-->
            <volist name="countys" id="vo">

                <input type="hidden" value="{$vo2.name}"/>

                <div class="gtlv-single">
                    <div class="gttv">
                        <a href="pageJobs?county={$vo2.name}">{$vo.name}
                        </a>
                        <!--<span class="badge pull-right"
                              style="margin-top:15px;background: #e07a00;margin-right:8px;">
                            {$vo.number}
                        </span>-->
                    </div>

                </div>


            </volist>

        </div>
    </div>

</div>
</body>
</html>
<script>
    $(document).ready(function () {
        $(".gtlv-single").on('click', '', function (event) {
            event.preventDefault();
            var name = $(this).find("a").html();
            name = $.trim(name);
            console.log(name);
            location.href = MOD_PATH + "/Jobs/pageJobs?county=" + name;
        });
    });
</script>