
.reg_login{width:120px;height:120px;margin:15px auto;border:1px solid #eb7312;border-radius:800px;}
.reg_login img{width:85px;margin:10px auto 0;}
.about {margin-bottom:10px;}
.about div{margin-bottom:1px;background-color: #fff;}
.about div{padding:0 3%;}
.about div span{height:35px;line-height:35px;}
.about div p{line-height:20px;padding:5px 0;}