    <style>
        .btn_feed_submit {
    cursor: pointer;
    padding: 1px 30px;
     margin-top: 80px;
    border-radius: 5px;
    background-color: #ed7312;
    color: #fff;
    font-size: 16px;
}
    </style>

    <div id="person">
        <!-- 个人中心start -->
        <!-- <div class="per_t">
            <div class="per_nav">
                <a href="">首页</a> > <a href="">个人管理中心</a>
            </div>
            <div class="per_dal">
                <img src="images/review.jpg" alt="" width="130" height="130" />
                <div>
                    <span>马云</span>
                    <p>山东大学（威海）</p>
                    <a href="">修改头像</a>
                </div>
            </div>
        </div> -->
        <div class="per_b clearfix">
            <include file="blocks/mainnav"/>
            <div class="per_r_dal">             
                <h4 class="font-orange">我的借款</h4>
                <div class="sucess">
                    <!-- <span style="margin-top:20px;">我要借款</span> -->
                    <div class="sucess_dal" style="width:280px;">
                        <div><span>订单号</span>234467</div>
                        <div><span>资金用途</span>旅游</div>
                        <div><span>借款</span><b>2000.00</b></div>
                        <div><span>分期月数</span>6个月</div>
                        <div><span>每月应还</span><b>2110.00</b></div>
                         <a href="__MODULE__/User/pageContract" class="btn_feed_submit" style="width: 50px float:left;">下一步</a>
                    </div>

                </div>
             

            </div>
        </div>
        <!-- 个人中心end -->
    </div>