<div id="person">
        <div class="per_b clearfix">
            
            <include file="blocks/mainnav"/>
            <div class="per_r_dal">
                <h4 class="font-orange">我的钱包</h4>

                <ul class="ul_money">

                    <li>
                        <span>总金额（元）</span><b>0.00</b>
                    </li>
                    <li>
                        <span>万元收益（元）</span><b>0.0</b>
                    </li>
                    <li>
                        <span>累计收入（元）</span><b>0.0</b>
                    </li>
                </ul>
                
                <h4 class="text-left">收支明细</h4>
                <ul class="ul_balance">
                    <li>
                        <div class="time">
                            <span>昨天</span><span>0.00</span>
                        </div>
                        <div>
                            <b>+0.00元</b><span>威海捷成信息科技有限公司</span>
                        </div>
                        <span class="right">工资</span>
                    </li>
                    <li>
                        <div class="time">
                            <span>昨天</span><span>2015-11-18</span>
                        </div>
                        <div>
                            <b>+0</b><span>威海捷成信息科技有限公司</span>
                        </div>
                        <span class="right">工资</span>
                    </li>
                    <li>
                        <div class="time">
                            <span>昨天</span><span>2015-11-18</span>
                        </div>
                        <div>
                            <b>+0.00元</b><span>威海捷成信息科技有限公司</span>
                        </div>
                        <span class="right">工资</span>
                    </li>
                    <li>
                        <div class="time">
                            <span>昨天</span><span>2015-11-18</span>
                        </div>
                        <div>
                            <b>+0.00元</b><span>威海捷成信息科技有限公司</span>
                        </div>
                        <span class="right">工资</span>
                    </li>
                    <li>
                        <div class="time">
                            <span>昨天</span><span>2015-11-18</span>
                        </div>
                        <div>
                            <b>+0.00元</b><span>威海捷成信息科技有限公司</span>
                        </div>
                        <span class="right">工资</span>
                    </li>
                </ul>

                <div class="page mr10">
                    <ul>
                        <li class="page_prev"><a href="">上一页</a></li>
                        <li class="cur"><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li class="page_next"><a href="">下一页</a></li>
                    </ul>
                </div>  
            </div>
        </div>
    </div>