<div id="person">
        <!-- 个人中心start -->
        <!-- <div class="per_t">
            <div class="per_nav">
                <a href="">首页</a> > <a href="">个人管理中心</a>
            </div>
            <div class="per_dal">
                <img src="images/review.jpg" alt="" width="130" height="130" />
                <div>
                    <span>马云</span>
                    <p>山东大学（威海）</p>
                    <a href="">修改头像</a>
                </div>
            </div>
        </div> -->
        <div class="per_b clearfix">
         <include file="blocks/mainnav" />

            <div class="per_r_dal">
                <h4 class="font-orange">信用认证</h4>

                <div class="credit">
                    <div class="limit">
                        <span class="span_top">信用额度</span>
                        <b class="b_top">5000.00元</b>
                        <ul>
                            <li>
                                <span>可用额度</span>
                                <b>3000.00元</b>
                            </li>
                        </ul>
                    </div>
                    <div class="promote">
                        <span>基本认证<b>（已完成，获得信用额度3000.00元）</b></span>
                        <div class="promote_b">
                            <ul>
                                <li>
                                    <s class="promote05"></s>
                                    <p>1.身份学籍</p>
                                    <a href="__CONTROLLER__/pageFinishInfo">完善信息</a>
                                </li>
                                <li>
                                    <s class="promote06"></s>
                                    <p>2.联系方式</p>
                                    <a href="__CONTROLLER__/pageContactInfo" class="btn_tel">完善信息</a>
                                </li>
                                <li>
                                    <s class="promote07"></s>
                                    <p>3.银行卡认证</p>
                                    <a href="__CONTROLLER__/pageBankCardProve">完善信息</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="promote">
                        <span>提升额度认证<b>（已完成，获得信用额度3000.00元）</b></span>
                        <div class="promote_b">
                            <ul>
                                <li>
                                    <s class="promote03"></s>
                                    <p>1.证件照</p>
                                    <!-- <input type="file" name="" id="" /> -->
                                    <a href="__CONTROLLER__/pageUploadCertificates" class="up_a">上传证件</a>
                                </li>
                                <li>
                                    <s class="promote04"></s>
                                    <p>2.紧急联系方式</p>
                                    <a href="__CONTROLLER__/pageEmergencyContact" class="up_a btn_tel">完善信息</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="por_dal">
                        <span>认证说明</span>
                        <ul>
                            <li>１.完成认证，即享<b>信用额度</b>，请填写本人<b>真实信息</b>。</li>
                            <li>2.根据您的信用额度，可算出可用额度和提现额度。</li>
                            <li>3.使用可提现额度，可提现借款。</li>
                            <li>4.额度使用后，请记得按时还款哦，额度即可恢复。</li>
                        </ul>
                    </div>
                    <input type="button" value="接受合同" />
                </div>
            </div>
        </div>
    </div>