<div id="person">
        <!-- 个人中心start -->
        <!-- <div class="per_t">
            <div class="per_nav">
                <a href="">首页</a> > <a href="">个人管理中心</a>
            </div>
            <div class="per_dal">
                <img src="images/review.jpg" alt="" width="130" height="130" />
                <div>
                    <span>马云</span>
                    <p>山东大学（威海）</p>
                    <a href="">修改头像</a>
                </div>
            </div>
        </div> -->
        <div class="per_b clearfix">
           <include file="blocks/mainnav" />
            <div class="per_r_dal">
                <div class="bargain">
                    <span>合&nbsp;&nbsp;&nbsp;&nbsp;同</span>
                    <div><b>合同编号：234467</b></div>
                    <p class="bar_per">甲方：<strong>萝卜兼职</strong></p>
                    <p class="bar_per">乙方：<strong>张三</strong></p>
                    <p>甲、乙双方本着自愿、平等、公平、诚实、信用的原则，经友好协商，根据中华人民共和国有关法律、法规的规定签定本协议，由双方共同遵守。</p>
                    <p>第一条协议范围内，双方的关系确定为合作关系。为拓展市场更好地、更规范地服务消费者，根据公司的规划，甲方根据乙方的申请和对乙方的经营能力的审核，同 意乙方加入<strong>捷成公司</strong>公司的销售网络。同意乙方在<strong>山东</strong>省（市、自治区）<strong>威海</strong>市（地区）<strong>黄岛</strong>县 （区）<strong>山东大厦</strong>地点（商场建筑物）（代理、经销、专卖、批发、零售）专属性经营（_______）品牌________系列产品。</p>
                    <p>第二条订立本协议的目的在于确保甲、乙双方忠实地履行本协议规定的双方的职责和权利。乙方作为单独的企业法人或经营者进行经济活动。因此，他必须遵守对所 有企业法人或经营者共同的法律要求，特别是有关资格的规则以及社会的、财务的商业要求。作为一个企业法人或经营者，乙方应就其活动自负一切风险和从合法经 营中获利。乙方不是甲方的代理人，也不是甲方的雇员和合伙人。乙方不是作为甲方委托代表，乙方无权以甲方的名义签定协议，使甲方在任何方面对第三人承担责任，或由甲方负担费用，承担任何义务。订立本协议并未授予乙方任何约束甲方或甲方有关企业之权利，甲方对本协议任何条款有最终的解释权。</p>
                </div>
                <!-- <input type="button" value="接受合同" class="btn_bargain" /> -->
                <a href="__CONTROLLER__/pageLoanSuccess" class="btn_bargain" style="width: 65px">接受合同</a>
            </div>
        </div>
        <!-- 个人中心end -->
    </div>