<!--点击编辑后的页面-->
<div style="font-size: 17px; padding: 20px">
    <div class="row" style="line-height:40px; margin-top:30px;">
        <div class="col-md-2 text-right">姓名</div>
        <div class="col-md-7">
            <input type="text" class="edit-text"/>
        </div>
        <div class="col-md-1"><img src="__PUBLIC__/default/images/1.png" alt=""/></div>
        <div class="col-md-2"><button class="btn btn-active" style="margin-top: -4px">编辑</button></div>
    </div>
    <div class="row" style="line-height:40px; margin-top: 30px;">
        <div class="col-md-2 text-right">所在地区</div>
        <div class="col-md-7">
            <!--省-->
            <div class="input-group spinner">
                <span type="text" class="spinner-content">山东</span>
                                <span class="input-group-addon glyphicon glyphicon-triangle-bottom"
                                      data-toggle="dropdown">
                                </span>
                <ul class="dropdown-menu" >
                    <li><a href="javascript:">山东</a></li>
                    <li><a href="javascript:">北京</a></li>
                </ul>
            </div>
            <!--市-->
            <div class="input-group spinner">
                <span type="text" class="spinner-content">威海</span>
                                <span class="input-group-addon glyphicon glyphicon-triangle-bottom"
                                      data-toggle="dropdown">
                                </span>
                <ul class="dropdown-menu">
                    <li><a href="javascript:">威海</a></li>
                </ul>
            </div>
            <!--区-->
            <div class="input-group spinner">
                <span type="text" class="spinner-content">高区</span>
                                <span class="input-group-addon glyphicon glyphicon-triangle-bottom"
                                      data-toggle="dropdown">
                                </span>
                <ul class="dropdown-menu">
                    <li><a href="javascript:">高区</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" style="line-height:40px; margin-top: 30px;">
        <div class="col-md-2 text-right">所在学校</div>
        <div class="col-md-7">
            <input type="text" class="edit-text"/>
        </div>
    </div>
    <div class="row" style="line-height:40px; margin-top: 30px;">
        <div class="col-md-2 text-right">出生日期</div>
        <div class="col-md-7">
            <!--年-->
            <div class="input-group spinner">
                <span type="text" class="spinner-content">年</span>
                                <span class="input-group-addon glyphicon glyphicon-triangle-bottom"
                                      data-toggle="dropdown">
                                </span>
                <ul class="dropdown-menu" >
                    <li><a href="javascript:">1999</a></li>
                    <li><a href="javascript:">1998</a></li>
                    <li><a href="javascript:">1997</a></li>
                </ul>
            </div>
            <!--月-->
            <div class="input-group spinner">
                <span type="text" class="spinner-content">月</span>
                                <span class="input-group-addon glyphicon glyphicon-triangle-bottom"
                                      data-toggle="dropdown">
                                </span>
                <ul class="dropdown-menu">
                    <li><a href="javascript:">01</a></li>
                    <li><a href="javascript:">02</a></li>
                    <li><a href="javascript:">03</a></li>
                    <li><a href="javascript:">04</a></li>
                    <li><a href="javascript:">05</a></li>
                    <li><a href="javascript:">06</a></li>
                    <li><a href="javascript:">07</a></li>
                    <li><a href="javascript:">08</a></li>
                    <li><a href="javascript:">09</a></li>
                    <li><a href="javascript:">10</a></li>
                    <li><a href="javascript:">11</a></li>
                    <li><a href="javascript:">12</a></li>
                </ul>
            </div>
            <!--日-->
            <div class="input-group spinner">
                <span type="text" class="spinner-content">日</span>
                                <span class="input-group-addon glyphicon glyphicon-triangle-bottom"
                                      data-toggle="dropdown">
                                </span>
                <ul class="dropdown-menu">
                    <li><a href="javascript:">01</a></li>
                    <li><a href="javascript:">02</a></li>
                    <li><a href="javascript:">03</a></li>
                    <li><a href="javascript:">04</a></li>
                    <li><a href="javascript:">05</a></li>
                    <li><a href="javascript:">06</a></li>
                    <li><a href="javascript:">07</a></li>
                    <li><a href="javascript:">08</a></li>
                    <li><a href="javascript:">09</a></li>
                    <li><a href="javascript:">10</a></li>
                    <li><a href="javascript:">11</a></li>
                    <li><a href="javascript:">12</a></li>
                    <li><a href="javascript:">13</a></li>
                    <li><a href="javascript:">14</a></li>
                    <li><a href="javascript:">15</a></li>
                    <li><a href="javascript:">16</a></li>
                    <li><a href="javascript:">17</a></li>
                    <li><a href="javascript:">18</a></li>
                    <li><a href="javascript:">19</a></li>
                    <li><a href="javascript:">20</a></li>
                    <li><a href="javascript:">21</a></li>
                    <li><a href="javascript:">22</a></li>
                    <li><a href="javascript:">23</a></li>
                    <li><a href="javascript:">24</a></li>
                    <li><a href="javascript:">25</a></li>
                    <li><a href="javascript:">26</a></li>
                    <li><a href="javascript:">27</a></li>
                    <li><a href="javascript:">28</a></li>
                    <li><a href="javascript:">29</a></li>
                    <li><a href="javascript:">30</a></li>
                    <li><a href="javascript:">31</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" style="line-height:40px; margin-top: 30px;">
        <div class="col-md-2 text-right">身高</div>
        <div class="col-md-7">
            <input type="text" class="edit-text"/>
        </div>
    </div>
    <div class="row" style="line-height:40px; margin-top: 30px;">
        <div class="col-md-2 text-right">QQ</div>
        <div class="col-md-7">
            <input type="text" class="edit-text"/>
        </div>
    </div>
    <div class="row" style="line-height:40px; margin-top: 30px;">
        <div class="col-md-2 text-right">联系邮箱</div>
        <div class="col-md-7">
            12345678@xxx.com
            <span style="color: red; font-size: 12px; margin-left: 10px">可在安全保护中更改绑定</span>
        </div>
    </div>
    <div class="row" style="line-height:40px; margin-top: 30px;">
        <div class="col-md-2 text-right">绑定手机</div>
        <div class="col-md-7">
            12345678910
            <span style="color: red; font-size: 12px; margin-left: 10px">可在安全保护中更改绑定</span>
        </div>
    </div>
    <div class="row" style="line-height:40px; margin-top: 30px;">
        <div class="col-md-2 text-right">证明材料</div>
        <div class="col-md-7">
            <input type="text" class="edit-text"/>
        </div>
    </div>
    <div class="row" style="line-height:40px; margin-top: 30px;">
        <div class="col-md-2 text-right">自我描述</div>
        <div class="col-md-7">
            <textarea cols="30" rows="4" class="edit-text" style="height: auto" placeholder="使用文档中的独特引言吸引读者的注意力，或者使用此空间强调要点。要在此页面的任何位置放置此文本框，只需拖动它即可。"></textarea>
        </div>
    </div>
    <div class="row" style="margin-top: 60px">
        <div class="col-md-7 col-md-offset-2 text-center">
            <button class="btn btn-active">保存</button>
        </div>
    </div>
</div>