<!--更改验证邮箱-->
<div class="safety-box" gt-model="userEmail">
    <div class="row">
        <button class="btn btn-disable" style="margin-left: 20px;" gt-btn-click="editUserPwd">
            修改密码
        </button>
        <button class="btn btn-disable" style="margin-left: 20px;" gt-btn-click="editUserPhone">
            更换手机绑定
        </button>
        <button class="btn btn-active" style="margin-left: 20px;" gt-btn-click="editUserEmail">
            验证邮箱
        </button>
        <!--<button class="btn btn-disable" style="margin-left: 20px;" gt-btn-click="editUserId">
            证件上传
        </button>-->
    </div>
    <div class="row" style="margin-top: 20px">
        <div class="col-md-2 text-right" style="line-height: 40px">
            原始邮箱
        </div>
        <div class="col-md-9">
            <input type="hidden" gt-islabel="原始邮箱"/>
            <input class="edit-text" type="text" gt-isparam="oldemail"/>
        </div>
    </div>
    <div class="row" style="margin-top: 20px">
        <div class="col-md-2 text-right" style="line-height: 40px">
            新邮箱
        </div>
        <div class="col-md-9">
            <input type="hidden" gt-islabel="新邮箱"/>
            <input class="edit-text" type="text" gt-isparam="newemail"/>
        </div>
    </div>
    <div class="row pull-right" style="margin: 20px 60px 0 0">
        <button class="btn btn-active" id="confirmUserEmail">
            确定
        </button>
    </div>
</div>
<script>
    $("#confirmUserEmail").on('click', '', function (event) {
        event.preventDefault();
        var data = M('userEmail');
        if(data['newemail']==data['oldemail']){
            alert("原邮箱和新邮箱不能一样");
            return;
        }
        post('updateUserEmail', data);
        console.log(data);
    });
</script>