<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>联系方式</title>
	<include file="blocks/import_user"/>
</head>
<body>
    <!-- 头部内容 -->
        <include file="blocks/header"/>
    <!-- 主体内容 -->
        <include file="User/contContactInfo"/>
    <!-- 底部内容 -->
        <include file="blocks/footer"/>
</body>
</html>
<script>
	jQuery(document).ready(function($) {
		bindClick();
        //修改左侧导航栏样式使导航栏的橙色样式对应当前页面
        $("#Authentication").removeClass("cur").addClass("cur");
	});
</script>