<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>我的申请</title>
	<include file="blocks/import_user"/>
    <style>
    .list_hot .job_show {
     width: auto;
    margin: 0 40px 0 20px;
    float: left;
}
    </style>
</head>
<body>
<div class="container-fluid">
    <!-- 头部内容 -->
        <include file="blocks/header"/>
    <!-- 主体内容 -->
        <include file="User/contUserApply"/>
    <!-- 底部内容 -->
        <include file="blocks/footer"/>
</div>
</body>
</html>
<script>
	jQuery(document).ready(function($) {
		bindClick();
        //修改左侧导航栏样式使导航栏的橙色样式对应当前页面
        $("#pageUserApply").removeClass("cur").addClass("cur");
	});
</script>