<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>查看-兼职简历</title>
	<include file="blocks/import_user"/>
    <style type="text/css">
    .per_cont div span.label_text {
    line-height:22px;}
    </style>
</head>
<body>
    <!-- 头部内容 -->
        <include file="blocks/header"/>
    <!-- 主体内容 -->
        <include file="User/contViewResume"/>
    <!-- 底部内容 -->
        <include file="blocks/footer"/>
</body>
</html>
<script>
	jQuery(document).ready(function($) {
		bindClick();
        //修改左侧导航栏样式使导航栏的橙色样式对应当前页面
        $("#pageCollect").removeClass("cur").addClass("cur");
	});
</script>