<!--修改密码-->
    <div id="person">
        <!-- 个人中心start -->
        <!-- <div class="per_t">
            <div class="per_nav">
                <a href="">首页</a> > <a href="">个人管理中心</a>
            </div>
            <div class="per_dal">
                <img src="images/review.jpg" alt="" width="130" height="130" />
                <div>
                    <span>马云</span>
                    <p>山东大学（威海）</p>
                    <a href="">修改头像</a>
                </div>
            </div>
        </div> -->
        <div class="per_b clearfix">
           <include file="blocks/mainnav/">
            <div class="per_r_dal">
                <h4 class="font-orange">修改密码</h4>
                <div class="per_cont">
                    <div>
                        <span class="label_text">原始密码</span>
                        <input type="text" name="" id="" class="error" />
                    </div>
                    <label for="" class="wrong">密码输入错误</label>
                    <div>
                        <span class="label_text">新密码</span>
                        <input type="text" name="" />
                    </div>
                    <div>
                        <span class="label_text">新密码</span>
                        <input type="text" name="" class="error" />
                    </div>
                    <label for="" class="wrong">确认码与新密码不一致</label>
                    <input type="button" value="保存" class="btn_save" />
                    
                </div>
                
            </div>

        </div>
        <!-- 个人中心end -->
    </div>

