<!--工作申请 - 查看简历-->
<div>
    <div class="list-operate-box">
        <input type="checkbox"/>&nbsp;&nbsp;&nbsp;全选
    </div>
    <div class="list-operate-box">
        <button class="list-operate-btn">删除</button>
    </div>
</div>
<div class="list-box">
    <div class="list-row">
        <div class="list-checkbox"><input type="checkbox"/></div>
        <div class="list-span"><img src="__PUBLIC__/default/images/12.png" alt="" height="18"/></div>
        <a href="" class="col-md-2 list-p-blue">皮条孙</a>
        <a href="" class="col-md-4 list-p-blue">山东大学（威海）</a>
        <div class="col-md-2 list-p-gray">2015.03.05</div>
        <div class="col-md-2 text-center" style="padding-top: 9px;">
            <button class="list-btn" gt-btn-click="company-apply-resume">查看详情</button>
        </div>
    </div>
    <div class="list-row">
        <div class="list-checkbox"><input type="checkbox"/></div>
        <div class="list-span"><img src="__PUBLIC__/default/images/12.png" alt="" height="18"/></div>
        <a href="" class="col-md-2 list-p-blue">皮条孙</a>
        <a href="" class="col-md-4 list-p-blue">山东大学（威海）</a>
        <div class="col-md-2 list-p-gray">2015.03.05</div>
        <div class="col-md-2 text-center" style="padding-top: 9px;">
            <button class="list-btn" gt-btn-click="company-apply-resume">查看详情</button>
        </div>
    </div>
    <div class="list-row">
        <div class="list-checkbox"><input type="checkbox"/></div>
        <div class="list-span"><img src="__PUBLIC__/default/images/12.png" alt="" height="18"/></div>
        <a href="" class="col-md-2 list-p-blue">皮条孙</a>
        <a href="" class="col-md-4 list-p-blue">山东大学（威海）</a>
        <div class="col-md-2 list-p-gray">2015.03.05</div>
        <div class="col-md-2 text-center" style="padding-top: 9px;">
            <button class="list-btn" gt-btn-click="company-apply-resume">查看详情</button>
        </div>
    </div>
    <div class="list-row">
        <div class="list-checkbox"><input type="checkbox"/></div>
        <div class="list-span"><img src="__PUBLIC__/default/images/12.png" alt="" height="18"/></div>
        <a href="" class="col-md-2 list-p-blue">皮条孙</a>
        <a href="" class="col-md-4 list-p-blue">山东大学（威海）</a>
        <div class="col-md-2 list-p-gray">2015.03.05</div>
        <div class="col-md-2 text-center" style="padding-top: 9px;">
            <button class="list-btn" gt-btn-click="company-apply-resume">查看详情</button>
        </div>
    </div>
    <div class="list-row">
        <div class="list-checkbox"><input type="checkbox"/></div>
        <div class="list-span"><img src="__PUBLIC__/default/images/12.png" alt="" height="18"/></div>
        <a href="" class="col-md-2 list-p-blue">皮条孙</a>
        <a href="" class="col-md-4 list-p-blue">山东大学（威海）</a>
        <div class="col-md-2 list-p-gray">2015.03.05</div>
        <div class="col-md-2 text-center" style="padding-top: 9px;">
            <button class="list-btn" gt-btn-click="company-apply-resume">查看详情</button>
        </div>
    </div>
    <div class="list-row">
        <div class="list-checkbox"><input type="checkbox"/></div>
        <div class="list-span"><img src="__PUBLIC__/default/images/12.png" alt="" height="18"/></div>
        <a href="" class="col-md-2 list-p-blue">皮条孙</a>
        <a href="" class="col-md-4 list-p-blue">山东大学（威海）</a>
        <div class="col-md-2 list-p-gray">2015.03.05</div>
        <div class="col-md-2 text-center" style="padding-top: 9px;">
            <button class="list-btn" gt-btn-click="company-apply-resume">查看详情</button>
        </div>
    </div>
    <div class="list-row">
        <div class="list-checkbox"><input type="checkbox"/></div>
        <div class="list-span"><img src="__PUBLIC__/default/images/12.png" alt="" height="18"/></div>
        <a href="" class="col-md-2 list-p-blue">皮条孙</a>
        <a href="" class="col-md-4 list-p-blue">山东大学（威海）</a>
        <div class="col-md-2 list-p-gray">2015.03.05</div>
        <div class="col-md-2 text-center" style="padding-top: 9px;">
            <button class="list-btn" gt-btn-click="company-apply-resume">查看详情</button>
        </div>
    </div>
    <div class="list-row">
        <div class="list-checkbox"><input type="checkbox"/></div>
        <div class="list-span"><img src="__PUBLIC__/default/images/12.png" alt="" height="18"/></div>
        <a href="" class="col-md-2 list-p-blue">皮条孙</a>
        <a href="" class="col-md-4 list-p-blue">山东大学（威海）</a>
        <div class="col-md-2 list-p-gray">2015.03.05</div>
        <div class="col-md-2 text-center" style="padding-top: 9px;">
            <button class="list-btn" gt-btn-click="company-apply-resume">查看详情</button>
        </div>
    </div>
    <div class="list-row">
        <div class="list-checkbox"><input type="checkbox"/></div>
        <div class="list-span"><img src="__PUBLIC__/default/images/12.png" alt="" height="18"/></div>
        <a href="" class="col-md-2 list-p-blue">皮条孙</a>
        <a href="" class="col-md-4 list-p-blue">山东大学（威海）</a>
        <div class="col-md-2 list-p-gray">2015.03.05</div>
        <div class="col-md-2 text-center" style="padding-top: 9px;">
            <button class="list-btn" gt-btn-click="company-apply-resume">查看详情</button>
        </div>
    </div>
</div>
<div style="float:right; margin-right: 50px;">
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                上一页
            </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                下一页
            </a>
        </li>
    </ul>
</div>