<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>查看简历</title>
    <include file="blocks/import"/>
</head>
<body>
<div class="container-fluid">
    <!-- 头部内容 -->
    <div class="header row">
        <include file="blocks/header"/>
    </div>
    <!-- 主体内容 -->
    <div class="middle row">
        <include file="Company/contResume"/>
    </div>
    <!-- 底部内容 -->
    <div class="footer row">
        <include file="blocks/footer"/>
    </div>
</div>
</body>
</html>
<script>
    jQuery(document).ready(function($) {
        bindClick();
        //修改左侧导航栏样式使导航栏的橙色样式对应当前页面
        $("#pageSafety").removeClass("nav-normal").addClass("nav-active");
    });
</script>