<div class="art-nav text-center" style="border-bottom:none;">
    <div class="art-nav-title">
        关于我们
    </div>
    <div class="art-nav-content">
        <a href="__ACTION__/?nav=AboutRadish">关于萝卜兼职</a>
    </div>
    <div class="art-nav-content">
        <a href="__ACTION__/?nav=AboutJC">关于捷城</a>
    </div>
    <div class="art-nav-content" style="border-bottom:none;">
         <a href="__MODULE__/Feed/pageFeedback">在线反馈</a>
    </div>
</div>
<div class="art-nav text-center">
    <div class="art-nav-title">
        帮助中心
    </div>
    <div class="art-nav-content">
        <a href="__ACTION__/?nav=Question">常见问题</a>
    </div>
    <div class="art-nav-content">
        <a href="__ACTION__/?nav=Service">企业服务</a>
    </div>
    <div class="art-nav-content" style="border-bottom:none;">
        <a href="__ACTION__/?nav=Contact">联系我们</a>
    </div>
</div>
