<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>萝卜兼职-文章中心</title>
    <include file="blocks/import_user"/>
    <style type="text/css">
        .per_b .per_about li{text-align: center;}
        .per_b .per_about li a{background: none;padding-left:0;}
        .pre{padding:20px 10px;width:100%;}
        .pre strong{margin-bottom:5px;font-weight:bold;display:block;}
        .pre p{margin-bottom:15px;}
        .new_nav{
            background: #fd8901;font-weight:bold;} 
    </style>
</head>
<body>
    <!-- 头部内容 -->
        <include file="blocks/header"/>
    <!-- 主体内容 -->
        <include file="$tplname"/>
    <!-- 底部内容 -->
        <include file="blocks/footer"/>
</body>
</html>
