
<head>
<link href="__PUBLIC__/default/css/gt.home.css" rel="styleheet" type="text/css" />
</head><div class="container">
    <div class="row" style="margin:10px auto">
        <div class="col-md-2">
            <ul class="per_nav">
            <tr id="pageManage">
                <li ><a href="__MODULE__/Company/pageManage">管理中心</a></li></tr>
                <li id="pageCompanyApply"><a href="__MODULE__/Company/pagePost">职位管理</a></li>
                <li id="ResumeManage"><a href="__MODULE__/Company/pageCompanyApply">简历管理</a></li>
                <li id="pageProve"><a href="__MODULE__/Company/pageProve">企业信息</a></li>
                <li id="pageSafety"><a href="__MODULE__/User/pageSafety">安全中心</a></li>
                <li id="pageFeedback"><a href="__MODULE__/Feed/pageFeedback">意见反馈</a></li>
            </ul>
        </div>
        <!--内容-->
        <div class="col-md-10">
            <div class="art-block">
                <div class="art-title">
                    常见问题
                </div>
                <div class="art-content">
<pre>
Q1：萝卜兼职是免费的吗？
答：萝卜兼职是针对大学生的免费兼职实习平台，坚决不收取求职者任何费用。

Q2：萝卜兼职提供的岗位靠谱吗？
答：萝卜兼职所有企业均须经过营业执照认证，发布的岗位100%人工审核，可以放心投递。

Q3：怎样注册成为求职者？
答：登陆萝卜兼职官网（http://www.luobojianzhi.com），选择右上角“注册”，填写手机号，输入收到免费的验证码，同时填写个人真实信息，即可完成注册。

Q4：个人简历要如实填写每一项内容吗？
答：萝卜兼职致力于打造大学生兼职平台，“个人简历”必须如实填写每一项内容。

Q5：萝卜兼职网的兼职岗位如何报名呢？
答：登陆萝卜兼职官网（http://www.luobojianzhi.com），查看兼职岗位，可以按照职位和地域分类浏览。发现喜欢的岗位后，点击“工作申请”即可轻松报名。

Q6：用户的注册信息是否可以保密？
答：萝卜兼职对求职者个人信息是完全保密的，只有你报名商家的岗位后，商家才能看到您的联系方式。

Q7：请问工资是怎么结算的？
答：工资结算由企业方自主结算，现金或银行转账及支付宝，一般是日结、周结和月结三种方式。企业方严格按照工作描述中的说明执行，如遇到工资纠纷，萝卜兼职将协调处理，保障双方权益。

Q8：为什么我在平台报名后没有收到任何联系呢？
答：报名后企业需要经过审核。企业录用后，您将收到一下短信：
【萝卜兼职】亲爱的***，您申请 ***有限公司的***岗位已通过申请，联系方式155****6168，请及时登陆www.luobojianzhi.com查看。

Q9：请问萝卜兼职有QQ交流群吗？
答：有的。萝卜兼职俱乐部1群：298797352。萝卜兼职是大学生创业公司，因为年轻所以存在许多不足，希望大家一起共同建设属于我们的最靠谱的兼职平台。


<strong>商家常见问题</strong>
Q1：萝卜兼职是做什么的？
答：萝卜兼职（http://www.luobojianzhi.com）致力于打造最靠谱的大学生兼职平台，每个职位、每位大学生都经过严格审核，保证兼职的可靠性。萝卜兼职智能分析系统，保障大学生与企业之间的人岗匹配，为合适的岗位找到合适的人，真正体现“一个萝卜一个坑”的理念。

Q2：怎样注册萝卜兼职企业用户？
答：登陆萝卜兼职官网（http://www.luobojianzhi.com）点击右上角注册，填写手机号，输入收到免费的验证码，同时填写企业真实信息，上传营业执照或身份证进行认证，审核通过即可发布信息。

Q3：如何发布兼职信息？
答：登陆企业后台→我的发布→发布→填写兼职信息→点击发布

Q4： 怎样录用学生入职？
答：发布兼职信息后，收到求职者投递简历，企业将收到以下短信信息：
【萝卜兼职】尊敬的****有限公司，您发布的***岗位收到了**的申请，联系方式 159****1467，请及时登陆www.luobojianzhi.com处理。
建议每2个小时查看一次商家后台，工作申请中，可详细查看投递者简历，您可以选择“确认”和“拒绝”。

Q5：我还是有很多疑问，有没有企业客服帮我？
答：我的客户萝卜企业助手，将全程为您服务，您可以添加萝卜企业助手QQ号：3251791608，或者直接拔打客服电话：0631-5666168。欢迎您的来电，竭诚为您服务！

</pre>
                </div>
            </div>

        </div>
    </div>


</div>