<div id="person">
		<!-- 个人中心start -->
		<!-- <div class="per_t">
			<div class="per_nav">
				<a href="">首页</a> > <a href="">个人管理中心</a>
			</div>
			<div class="per_dal">
				<img src="images/review.jpg" alt="" width="130" height="130" />
				<div>
					<span>马云</span>
					<p>山东大学（威海）</p>
					<a href="">修改头像</a>
				</div>
			</div>
		</div> -->
		<div class="per_b clearfix">
		<!-- 	<ul class="per_nav">
			<li><a href="">我的简历</a></li>
			<li><a href="">我的申请</a></li>
			<li><a href="">我的钱包</a></li>
			<li class="cur"><a href="">我的借款</a></li>
			<li><a href="">我的账单</a></li>
			<li><a href="">信用认证</a></li>
			<li><a href="">我的收藏</a></li>
			<li><a href="">安全中心</a></li>
			<li><a href="">意见反馈</a></li>
		</ul> -->
			<div class="per_r_dal">
				<h4 class="font-orange">我要借款</h4>
				<div class="lend">
					<div class="lend_txt1">
						<div>
							<span>借款需求：</span>
							<p>钱用来买iPhone，钱用来买iPhone，钱用来买iPhone，钱用来买iPhone，钱用来买iPhone，钱用来买iPhone，钱用来买iPhone,钱用来买iPhone，钱用来买iPhone，钱用来买iPhone，钱用来买iPhone，钱用来买iPhone，钱用来买iPhone，钱用来买iPhone,钱用来买iPhone，钱用来买iPhone，钱用来买iPhone，钱用来买iPhone，钱用来买iPhone，钱用来买iPhone，钱用来买iPhone</p>	
						</div>
						<div>
							<span>基本金额：</span>
							<b>2000元</b>
						</div>	
						<h5>收款银行卡</h5>	
						<ul>
							<li>
								<span>姓名</span>
								<input type="text" name="" id="" class="error" />
							</li>
							<labe class="wrong">用户名输入有误</labe>
							<li>
								<span>银行</span>
								<input type="text" name="" id="" />
							</li>
							<labe class="wrong">卡号输入有误</labe>
							<li>
								<span>卡号</span>
								<input type="text" name="" id="" />
							</li>
							<li>
								<span>选中开户省份</span>								
								<div class="input-group spinner">
			                        <span type="text" class="spinner-content">山东</span>
			                        <span class="input-group-addon glyphicon glyphicon-triangle-bottom demo-icon">
			                        	&#xe81d;
			                        </span>
			                        <ul class="dropdown-menu">
			                            <li>山东</li>
			                            <li>陕西</li>
		                            </ul>
			                    </div>
								<span>选中开户城市</span>							
								<div class="input-group spinner">
			                        <span type="text" class="spinner-content">威海</span>
			                        <span class="input-group-addon glyphicon glyphicon-triangle-bottom demo-icon">
			                        	&#xe81d;
			                        </span>
			                        <ul class="dropdown-menu">
			                            <li>威海</li>
			                            <li>青岛</li>
		                            </ul>
			                    </div>
							</li>
						</ul>
						<div class="xieyi xieyi1">
							<input type="checkbox" name="" id="" /><span>我已阅读</span><a href="" class="font-blue">《萝卜兼职协议条款》</a>
						</div>
						<!-- <input type="button" value="下一步" class="btn_feed_submit" />	 -->
						<a href="__MODULE__/User/pageMyloan/" class="btn_feed_submit" style="width: 50px">下一步</a>		
					</div>
				</div>

			</div>
		</div>
		<!-- 个人中心end -->
	</div>