<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>萝卜兼职，最靠谱的大学生兼职平台-我要借贷</title>
	<include file="blocks/import_user2"/>
	<style>
		.lend_total {
    margin: 0 auto;
}
	</style>
</head>
<body>
<div class="container-fluid">
	<!-- 头部内容 -->
		<include file="blocks/header"/>
	<!-- 主体内容 -->
		<include file="Loan/contStartLoan2"/>
	<!-- 底部内容 -->
		<include file="blocks/footer"/>
</div>
</body>
</html>
<script>
	$(document).ready(function() {
	$(".lend_txt textarea").val("请认真填写您要借贷分期的用途，便于您的申请尽快通过");
	$(".lend_txt textarea").click(function(event) {
		$(this).val("");
	});
	/*点击任意地方*/
	$('html,body').click(function(e){
        e = e || window.event;
        if ($(e.target).is($(".lend_txt textarea")))
        {
        	return;
        }
        else{
        	if($(".lend_txt textarea").val()=="")
        		$(".lend_txt textarea").val("请认真填写您要借贷分期的用途，便于您的申请尽快通过");
        }
    });

	//借款
    $(".lend_money li").click(function(event) {
    	var info=$(this);
    	selectInfo(info);
    });

    //分期
    $(".stages li").click(function(event) {
    	var info=$(this);
    	selectInfo(info);
    });
    //用途
    $(".lend_way li").click(function(event) {
    	var info=$(this);
    	selectInfo(info);
    });

    function selectInfo(info){    	
    	if(info.attr("class")!=undefined&&info.attr("class")!=""){
	    	if(info.attr("class").indexOf("cur")>-1){
	    		info.removeClass('cur');
	    	}
	    }
	    else{
	    	info.addClass('cur').siblings().removeClass('cur');
	    }   
    }

});
</script>
