<div id="header">
        <div class="top-line"></div>
        <div class="container">
            <div class="ablock ablock1">
                <h1><a href="__MODULE__"></a></h1>
                <div class="chose-city">
                    <span>青岛市</span>
                    <a href="__MODULE__/Index/pageSwopCity" class="change-city" style="color:#808080">切换城市</a>
                </div>
                <div class="header-pt">
                    最靠谱的大学生兼职平台 <br>
                    www.luobojianzhi.com
                </div>
                <div class="header-nav pull-right">
                    <!--登录前-->
                    <ul class="login-before">
                        <li><a href="__MODULE__/Article/index">关于我们</a></li>
                        <div class="nav-dlmt"></div>
                        <li><a href="">手机端</a></li>
                        <div class="nav-dlmt"></div>
                        <li><a href="__APP__/Home/Index/pageReg">注册</a></li>
                    </ul>
                </div>
            </div>
        </div>
</div>

