<!--
Code by NilTor
Email:admin@geethin.com
-->
<meta name="renderer" content="webkit">
<meta name="baidu-site-verification" content="ID4hXOITos" />
<meta name="keywords" content="萝卜兼职，大学生兼职平台，靠谱兼职，luobojianzhi">
<meta name="description" content="萝卜兼职，做最靠谱的大学生兼职平台">
<link rel="stylesheet" href="__PUBLIC__/new/css/base.css"/>
<link rel="stylesheet" href="__PUBLIC__/new/css/user2.css"/>
<script src="__PUBLIC__/default/js/jquery1.10.2.min.js"></script>
<script src="__PUBLIC__/default/js/geethin.js"></script>
<script src="__PUBLIC__/default/js/gtcheck.js"></script>
<script src="__PUBLIC__/default/js/gt.home.js"></script>
<script>
    var APP_PATH = "__APP__";
    var MOD_PATH = "__MODULE__";
    var CON_PATH = "__CONTROLLER__";
    var SEL_PATH = "__SELF__";
    var ACT_PATH = "__ACTION__";
</script>