<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>萝卜兼职-找回密码</title>
    <include file="blocks/import_user"/>
    <style type="text/css">
    .per_cont div input[type=password] {
    width: 590px;
    border: 1px solid #ccc;
    padding: 0 5px;
    }
    </style>
</head>
<body>
<div class="container-fluid">
    <!-- 头部内容 -->
        <include file="blocks/header"/>
    <!-- 主体内容 -->
        <include file="Index/contFindPwd2"/>
    <!-- 底部内容 -->
        <include file="blocks/footer"/>
</div>
</body>
</html>
<script>
    $(document).ready(function() {
        bindClick();
        bindCheck();
    });
</script>