<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>完善企业资料</title>
    <include file="blocks/import"/>

</head>
<body>
<div class="container-fluid">
    <!-- 头部内容 -->
    <div class="header row visible-md-block visible-lg-block">
        <include file="blocks/header"/>
    </div>
    <!-- 主体内容 -->
    <div class="middle row">
        <include file="Index/contDetailCompany"/>
    </div>
    <!-- 底部内容 -->
    <div class="footer row visible-md-block visible-lg-block">
        <include file="blocks/footer"/>
    </div>
</div>
</body>
</html>
<script>
    jQuery(document).ready(function($) {
        bindClick();
        bindSpinner();

        //是否选择同意条款
        $("input[gt-isparam='agree']").on('click', '', function (event) {
            if($(this).is(":checked")) {
                $(this).val("yes");
            } else {
                $(this).val("no");
            }
        });

        $("input[type='file']").on("change", function(){
            var files = !!this.files ? this.files : [];
            if (!files.length || !window.FileReader) return;
            var name=$(this).attr("gt-isparam");
            // 判断是否为图片类型
            if (/^image/.test( files[0].type)){
                var img = $(this).siblings(".reg-id-img");
                var reader = new FileReader();
                reader.readAsDataURL(files[0]);
                reader.onloadend = function(){
                    img.attr("src", this.result);
                }
                //ajax提交图片
                postfile(APP_PATH + '/User/User/uploadFile',files[0],name);
            }else{
                alert("请选择图片进行上传");
            }
        });
    });
</script>