<div class="row ">
    <!-- 左边主要导航 -->
    <include file="blocks/mainnav"/>
    <!-- 内容 -->
    <div class="content col-md-10">
        <!-- 导航菜单内容显示 -->
        <div class="row" style="background:#f4f4f4;height:36px;line-height:36px;border-bottom:1px solid #ddd">

			<span class="mleft2">
				地区管理 > 修改省份信息
			</span>
        </div>
        <div class="fragbox">
            <div style="margin-top:10px">
                <div class="pull-left">
                    <a href="__CONTROLLER__/pageRegionProvince" class="btn btn-primary">省</a>
                    <a href="__CONTROLLER__/pageRegionCity" class="btn btn-primary">市</a>
                    <a href="__CONTROLLER__/pageRegionCounty" class="btn btn-primary">区（县）</a>
                    <a href="__CONTROLLER__/pageRegionAdd" class="btn btn-success">添加</a>
                </div>
            </div>
            <!-- 右边具体内容 -->
            <div class="row fragbox" style="margin-top: 70px;">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            修改省份信息
                        </div>
                        <div class="panel-body form-inline" gt-model="saveProvince">
                            <input class="form-control" type="text" value="{$provinceInfo.spell}" gt-isparam="spell" gt-islabel2="名称全拼" placeholder="名称全拼" style="margin-bottom: 10px;"/>
                            <br/>
                            <input class="form-control" type="text" value="{$provinceInfo.name}" gt-isparam="name" gt-islabel2="省名称" placeholder="省名称"/>
                            <input type="hidden" value="{$provinceInfo.id}" gt-isparam="id"/>
                            <button class="btn btn-active" name="saveProvince">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>