<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加学校分类</title>
    <include file="blocks/import"/>
</head>
<body>
<div class="container-fluid">
    <!-- 头部内容 -->
    <div class="header">
        <include file="blocks/header"/>
    </div>
    <!-- 主体内容 -->
    <div class="middle row">
        <include file="Setting/contAddSchool"/>
    </div>
    <!-- 底部内容 -->
    <div class="footer">
        <include file="blocks/footer"/>
    </div>
</div>
</body>
</html>
<script>
    jQuery(document).ready(function($) {
        bindClick();
        $("#navSettingAddSchool").addClass("nav-two-active"); //更改导航样式
    });
</script>