<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>申请者</title>
    <include file="blocks/import"/>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="actionbar-back">
            <div class="col-xs-1 text-left" style="padding-left:8px">
                <a href="javascript:" onclick="javascript:history.back(-1)">
                    <span class="glyphicon glyphicon-menu-left"></span>
                </a>
            </div>
            <div class="col-xs-10 text-center actionbar-title">
                职位申请者
            </div>
            <div class="col-xs-1 text-right">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="gtlyout">
            <volist name="list" id="vo">

                <div class="gtlv-auto">
                    <input type="hidden" value="{$vo.id}"/>
                    <!--左边-->
                    <div class="pull-left" style="max-width: 68%; overflow: hidden; white-space:nowrap;">
                        <div class="text-normal text-bold">
                            {$vo.realname}
                        </div>
                        <div class="gt-cls " style="font-size: 12px; margin: 5px 0;">
                            <span class="glyphicon glyphicon-home"></span>
                            {$vo.school}
                        </div>
                        <div class="gt-cls cl-orange" style="font-size: 12px;margin: 5px 0;">
                            <span class="glyphicon glyphicon-phone"></span>
                            {$vo.phone}
                        </div>
                    </div>

                    <!--右半部分-->
                    <div class="pull-right text-center" style="max-width: 30%; overflow: hidden; white-space:nowrap;margin-top: 16px;">
                        <!--TODO 根据状态显示不同内容-->
                        <input type="hidden" value="{$vo.id}" name="id"/>
                        <php>
                            switch($vo['state']){
                                case 0:
                                echo('<span class="text-danger"
                                            style="border:1px solid;padding:1px 4px;border-radius: 2px">已拒绝</span>');
                                break;
                                case 1:
                                echo('<span class="text-success"
                                            style="border:1px solid;padding:1px 4px;border-radius: 2px">已通过</span>');
                                break;
                                case 2:
                                echo('<a class="text-warning dealResume"
                                            style="border:1px solid #e68f3d;padding:0 4px;border-radius: 2px">查看简历</a>');
                                break;
                            };
                        </php>

                    </div>
                </div>
            </volist>
        </div>
    </div>
    <div class="row">
        <include file="blocks/footer"/>
    </div>
</div>
</body>
</html>
<script>
    $(document).ready(function () {
        $(".dealResume").on('click', '', function (event) {
            event.preventDefault();
            var id = $(this).siblings("input[name='id']").val();
            location.href=MOD_PATH+'/Company/dealResume?id='+id;
        });
    });
</script>