<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>校园机构信息</title>
	<include file="blocks/import"/>	
</head>
<body>
	<div class="container-fluid">
		<!-- 头部内容 -->
		<div class="header">
			<include file="blocks/header"/>
		</div>
		<!-- 主体内容 -->
		<div class="middle row">
			<include file="Position/contSchool"/>
		</div>
		<!-- 底部内容 -->
		<div class="footer">
			<include file="blocks/footer"/>
		</div>
	</div>
</body>
</html>
<script>
	jQuery(document).ready(function($) {
		bindClick();
		loadPage($(".load-table-page"), CON_PATH+"/fragSchoolPublishList");
		$("#navPositionSchool").addClass("nav-two-active"); //更改导航样式
	});
</script>