<style>
    .lucency {
        top: 0;
        left: 0;
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background: #9B9393;
        display: none;
    }
    .imgbox {
        display: none;
        position: fixed;
        border: 1px solid gray;
        max-width: 500px;
        z-index: 2;
        padding: 3px;
        background: #E2E2E2;
    }
    #img-thumbnail{
        width:100%;
        height:100%;
    }
</style>
<!-- 半透明层 -->
<div class="lucency"></div>
<!-- 图片框 -->
<div class="imgbox">
    <div>
        <button class="btn-link pull-right" gt-btn-click="hide-imgbox">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>
    <img id="img-thumbnail" onload="setThumbPos()">
</div>