<div class="row"> 
	<!-- TODO a标签地址 -->
	<div class="pull-right mtop2">
		<span class="pull-right">
			<a href="__APP__/User/User/doLogout" style="color:red">退出系统</a>
			&nbsp;&nbsp;
		</span>
		<span class="pull-right">
			<a href="" style="color:#72C5F0">修改密码</a>
			&nbsp;&nbsp;|&nbsp;&nbsp;
		</span>
		<span class="pull-right" style="color:#72C5F0">
			<span class="glyphicon glyphicon-user" style="color:#C0C0C0"></span>
			&nbsp;
			你好! {$Think.session.user.adminname}
			&nbsp;&nbsp;|&nbsp;&nbsp;
		</span>	
	</div>
</div>